#orgas h2 {
  text-transform: uppercase;
  color: var(--bleu-cds);
  font-size: 60px;
  text-align: center;
  margin: 30px 0 0 0;
  font-weight: 800;
}
#orgas .row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
#orgas .orga {
  margin: 0 auto;
  width: 250px;
  height: 375px;
  position: relative;
  cursor: pointer;
}

#orgas .orga:hover .presentation {
  background-color: var(--rose);
}
#orgas .orga:hover .name {
  color: #fff;
}
#orgas .orga:hover .portrait {
  background-size: 101%;
  filter: brightness(1.15) grayscale(0) opacity(1);
}

#orgas .orga .portrait {
  width: 250px;
  height: 275px;
  background-size: 100%;
  filter: brightness(1) grayscale(0) opacity(1);
  transition: all .5s;
}
#orgas .orga .presentation {
  width: 250px;
  height: 100px;
  text-align: center;
  transition: all .5s;
  border-radius: 0 0 5px 5px;
}

#orgas .presentation p {
  margin: 0;
}

#orgas .orga .name {
  text-transform: uppercase;
  font-size: 23px;
  color: var(--rose);
  font-weight: 800;
  text-align: center;
  padding: 10px;
}

#popupcontent {
  text-align: left;
  max-height: calc(80vh - 4px);
}
#popupcontent h1 {
  color: var(--bleu-cds);
  text-transform: uppercase;
  margin: 10px 0 0 0;
}
#popupcontent h2 {
  color: var(--rose);
  text-transform: uppercase;
  margin: 10px 0 0 0;
}
#popupcontent p {
  font-size: 18px;
}