/* charte graphique */
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  --noir-cds: #222222;
  --bleu-cds: #4169E1;
  --bleu-dimmed: #d9e1f9;
  --bleu-dimmedstrong: #ecf0fc;
  --main-bg: #fafafa;
}
h1, h2, h3, h4, h5, h6, .ag-timeline-card_point, .ag-timeline-card_meta {
  font-family: "Ubuntu", sans-serif;
}

#main.dyslexic * {
  font-family: 'OpenDyslexic' !important;
}

.incipit {
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  color: var(--bleu-cds);
  text-align: center;
  font-style: italic;
  padding: 30px;
  font-weight: 500;
}

/* style */
@font-face {
  font-family: 'OpenDyslexic';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/opendyslexic@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/opendyslexic@latest/latin-400-normal.woff) format('woff');
  size-adjust: 80%;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: var(--main-bg);
}
#main {
  min-height: calc(100vh - 233px);
  width: 70%;
  margin: 0 auto;
}
#noscript {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  background: #fff;
  color: #000;
  text-align: center;
  top: 0;
}
img {
  max-width: 100%;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 25px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.pdf {
  width: 70%;
  aspect-ratio: 4 / 3;
}
.note {
  color: var(--noir-cds);
  font-style: italic;
  opacity: .6;
  font-size: .7em;
}

@media (max-width: 1100px) {
  #main {
    width: 80%;
  }
  .pdf {
    width: 80%;
  }
}
@media (max-width: 800px) {
  #main {
    width: 96%;
  }
  .pdf {
    width: 100%;
  }
}

/* popup */
#popup {
  display: none;
}
#popupbackground {
  width: 100vw;
  height: 100vh;
  background-color: var(--noir-cds);
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.6;
}
#popupclose {
  color: white;
  top: calc(10vh - 60px);
  right: calc(5vw - 30px);
  position: fixed;
  padding: 30px;
  cursor: pointer;
}
#popupcontent {
  z-index: 101;
  position: fixed;
  top: 10vh;
  left: 5vw;
  width: 90vw;
  height: 80vh;
  background: var(--main-bg);
  text-align: center;
  box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}
#popupcontent img {
  max-width: none;
  height: calc(80vh - 4px);
}
#popupcontent #customhtml {
  padding: 10px;
}

@media (max-width: 700px) {
  #popupcontent {
   width: 96vw;
   left: 2vw;
   height: 60vh;
   top: 20vh;
   overflow: scroll;
  }
  #popupclose {
    top: calc(20vh - 60px);
    right: calc(2vw - 30px);
  }
  #popupcontent img {
    height: 60vh;
  }
}

/* footer */
footer {
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: var(--noir-cds);
  color: var(--main-bg);
}
footer a {
  color: inherit;
  text-decoration: none;
}
#madeby {
  font-size: .7em;
  text-align: center;
  margin: 0;
  padding: 10px;
  opacity: .7;
}
#facebook img {
  height: 100%;
}
.flex-item-left:hover, .flex-item-center:hover, .flex-item-right:hover {
  opacity: 1;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 30px;
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
}
.flex-item-left, .flex-item-center, .flex-item-right {
  padding: 10px;
  flex: 33.3%;
  height: 50px;
  opacity: .7;
  transition: all .5s;
}

@media (max-width: 800px) {
  .flex-item-right, .flex-item-center, .flex-item-left {
    flex: 100%;
  }
}

/* header */
header #title {
  display: flex;
  height: 110px;
  background-color: var(--noir-cds);
  color: var(--main-bg);
}
header h1 {
  line-height: 75px;
  font-size: 23px;
}
header img {
  height: 100px;
  filter: invert(1)
}
header a {
  text-decoration: none;
  color: inherit;
}
nav {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  background-color: var(--noir-cds);
}
nav a {
  flex: 20%;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  background-color: var(--noir-cds);
  color: var(--main-bg);
  transition: all .5s;
  border-radius: 5px;
  cursor: pointer;
}
nav a:hover {
  background-color: var(--bleu-cds);
}

.switch {
  display: inline-block;
  width: 40px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 1px;
  background-color: var(--main-bg);
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: var(--bleu-cds);
}
input:focus + .slider {
  box-shadow: 0 0 1px var(--bleu-cds);
}
input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.toggle-label {
  font-family: 'OpenDyslexic';
  position: relative;
  margin-left: -135px;
  top: -2px;
  color: var(--bleu-dimmed);
  font-size: .8em;
}

@media (max-width: 800px) {
  nav a {
    flex: 50%;
  }
}

@media (max-width: 600px) {
  header #title {
    height: 35px;
  }
  header h1 {
    font-size: 15px;
    line-height: 15px;
  }
  header img {
    height: 30px;
    filter: invert(1)
  }
}